.tools{
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
  margin: 25px auto 0;
  span{
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      margin-right: 15px;
    }
  }
  span+span{
    margin-left: 20px;
  }
}